<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Newsletter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="m_5772815688879916528tableWhite" style="width:100%!important;background:#e6e7e8;padding-bottom:10px">
    <table class="m_5772815688879916528tableWide" width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#e6e7e8">
        <tbody>
        <tr>
            <td class="m_5772815688879916528tableWhiteBackground" style="border-collapse:collapse" width="100%" bgcolor="#e6e7e8" valign="top" align="center">
                <table class="m_5772815688879916528table" width="600" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="m_5772815688879916528hide" style="border-collapse:collapse" width="50" height="70" bgcolor="#FFFFFF"><img style="outline:none;text-decoration:none;display:block" src="https://ci3.googleusercontent.com/proxy/CUlhUDkF0GhJXvMi8k-tsT6O7DUlj7C8S7VO5whfkhSbnD1s2cg9dWSFa60WI9w1LPbGaXkWeobneAv9dcnymkKFjq52KpJvc5i_35eb7q4MYCnwC06sPJoDYcEGgNTiljYEUtXI9DYIsE9itgN9TW9QHEbXgzL5JldO6QvnoiBS2rXPjzrHomoX=s0-d-e1-ft#https://static.cdn.responsys.net/i2/responsysimages/survey/contentlibrary/2017_q4/newsletter_wufoo/images/spacer.gif" width="50" height="70" alt="" class="CToWUd">
                        </td>
                        <td style="border-collapse:collapse" height="70" bgcolor="#ffffff" class="m_5772815688879916528hide" align="left" valign="middle">
                            <font style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#a4a4a4;font-weight:600">Newsletter</font>
                            <font style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#a4a4a4;font-weight:300">{{ newsletter.creation_date |date("m/d/Y") }}</font>
                        </td>
                        <td style="border-collapse:collapse" class="m_5772815688879916528table" width="219" height="90" bgcolor="#ffffff" align="left" valign="middle">
                        </td>
                        <td class="m_5772815688879916528signin" style="border-collapse:collapse" align="right" valign="middle" width="85" bgcolor="#ffffff">
                        </td>
                        <td class="m_5772815688879916528hide" style="border-collapse:collapse" width="50" height="70" bgcolor="#FFFFFF"><img style="outline:none;text-decoration:none;display:block">
                        </td>
                    </tr>
                    </tbody>
                </table>
                {% for a in articles %}
                    {% if loop.index is odd%}
                        <table class="m_5772815688879916528table" width="600" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td class="m_5772815688879916528table" style="border-collapse:collapse;padding-top:50px" align="center" valign="top" bgcolor="#3333ff">
                                    <table class="m_5772815688879916528table90" width="450" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="m_5772815688879916528table" style="border-collapse:collapse" width="450" height="3" align="center" valign="top" bgcolor="#3333ff">
                                                <a href="{{ url('news_front_article_show',{'id':a.idArticle}) }}" style="line-height:39px;text-decoration:none;color:#ffffff;font-size:35px;font-weight:bold;font-family:helvetica,arial,sans-serif">
                                                    {{ a.titleArticle }}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="m_5772815688879916528table" width="600" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td class="m_5772815688879916528tableCenterPad" style="border-collapse:collapse;padding-top:15px" align="center" valign="top" bgcolor="#3333ff">
                                    <a href="{{ url('news_front_article_show',{'id':a.idArticle}) }}" style="color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:32px;outline:none;white-space:nowrap;border-radius:2px;text-decoration:none;display:inline-block;border:1px solid #6af26e;background-color:#4d4dff">      READ MORE      </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="m_5772815688879916528table" width="600" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td class="m_5772815688879916528table" style="border-collapse:collapse;padding-bottom:50px;padding-top:10px" align="center" valign="top" bgcolor="#3333ff">
                                    <table class="m_5772815688879916528table90" width="80%" border="0" cellpadding="0" cellspacing="0">
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <table class="m_5772815688879916528table" width="600" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td class="m_5772815688879916528table" style="border-collapse:collapse;padding-top:50px" align="center" valign="top" bgcolor="#38a88c">
                                    <table class="m_5772815688879916528table90" width="450" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="m_5772815688879916528table" style="border-collapse:collapse" width="450" height="3" align="center" valign="top" bgcolor="#38a88c">
                                                <a href="{{ url('news_front_article_showOne',{'id':a.idArticle}) }}" style="line-height:39px;text-decoration:none;color:#ffffff;font-size:35px;font-weight:bold;font-family:helvetica,arial,sans-serif">
                                                    {{ a.titleArticle }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="m_5772815688879916528table" width="600" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td class="m_5772815688879916528tableCenterPad" style="border-collapse:collapse;padding-top:15px" align="center" valign="top" bgcolor="#38a88c">
                                    <a href="{{ url('news_front_article_showOne',{'id':a.idArticle}) }}" style="color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:32px;outline:none;white-space:nowrap;border-radius:2px;text-decoration:none;display:inline-block;border:1px solid #6af26e;background-color:#25d670">      READ MORE      </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="m_5772815688879916528table" width="600" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td class="m_5772815688879916528table" style="border-collapse:collapse;padding-bottom:50px;padding-top:10px" align="center" valign="top" bgcolor="#38a88c">
                                    <table class="m_5772815688879916528table90" width="80%" border="0" cellpadding="0" cellspacing="0">
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
                <table class="m_5772815688879916528hide" width="600" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="m_5772815688879916528table" style="border-collapse:collapse" bgcolor="#f6f9fb" align="center">
                            <br>
                            <table class="m_5772815688879916528hide" width="500" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td class="m_5772815688879916528table" style="border-collapse:collapse" bgcolor="#f6f9fb" align="center">
                                        <table class="m_5772815688879916528hide" width="220" border="0" cellpadding="0" cellspacing="0" align="left">
                                            <tbody>
                                            <tr>
                                                <td style="border-collapse:collapse;line-height:14px" align="left" valign="top">
                                                    <font style="font-family:arial;font-size:11px;line-height:14px;color:#999999">
                                                        This e-mail was sent to <font style="font-family:arial;font-size:11px;line-height:14px;color:#999999"><a style="color:#999999;text-decoration:none">{{ sub.email_subscriber }}</a></font>. You received this email because you signed up for a TechEvent newsletter.
                                                        <br>
                                                        <br>
                                                        <a href="{{ url('news_front_subs_remove_visitor',{'id':sub.id_subscriber}) }}" style="font-family:arial;font-size:11px;color:#999999;font-weight:bold;text-decoration:none">Unsubscribe</a>   |   
                                                        <a href="{{ url('news_sub_update',{'id':sub.id_subscriber}) }}" style="font-family:arial;font-size:11px;color:#999999;text-decoration:none">Update</a>
                                                        <br>
                                                        <br>
                                                    </font>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>
</body>

</html>