{% extends 'base.html.twig' %}
{%  block content %}
<style class="cp-pen-styles">
        html, body {
            background-color: #f0f2fa;
            font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
            color: #555f77;
            -webkit-font-smoothing: antialiased;
        }

        input, textarea {
            outline: none;
            border: none;
            display: block;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
            font-size: 1rem;
            color: #555f77;
        }
        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #ced2db;
        }
        input::-moz-placeholder, textarea::-moz-placeholder {
            color: #ced2db;
        }
        input:-moz-placeholder, textarea:-moz-placeholder {
            color: #ced2db;
        }
        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            color: #ced2db;
        }

        p {
            line-height: 1.3125rem;
        }

        .comments {
            margin: 2.5rem auto 0;
            max-width: 60.75rem;
            padding: 0 1.25rem;
        }

        .comment-wrap {
            margin-bottom: 1.25rem;
            display: table;
            width: 100%;
            min-height: 5.3125rem;
        }

        .photo {
            padding-top: 0.625rem;
            display: table-cell;
            width: 3.5rem;
        }
        .photo .avatar {
            height: 2.25rem;
            width: 2.25rem;
            border-radius: 50%;
            background-size: contain;
        }

        .comment-block {
            padding: 1rem;
            background-color: #fff;
            display: table-cell;
            vertical-align: top;
            border-radius: 0.1875rem;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        }
        .comment-block textarea {
            width: 100%;
            resize: none;
        }

        .comment-text {
            margin-bottom: 1.25rem;
        }

        .bottom-comment {
            color: #acb4c2;
            font-size: 0.875rem;
        }

        .comment-date {
            float: left;
        }

        .comment-actions {
            float: right;
        }
        .comment-actions li {
            display: inline;
            margin: -2px;
            cursor: pointer;
        }
        .comment-actions li.complain {
            padding-right: 0.75rem;
            border-right: 1px solid #e1e5eb;
        }
        .comment-actions li.reply {
            padding-left: 0.75rem;
            padding-right: 0.125rem;
        }
        .comment-actions li:hover {
            color: #0095ff;
        }
    </style>
    <div class="container">
        <div>
            <br>
            <a href="{{ path('event_Description',{'id':e.id_event}) }}"><h2>Event : {{ e.event_name }}</h2></a>
    <hr>
    <div class="comments">
        {% if app.user %}
        <form method="post" action="{{ path('comment_comment_add2',{'id':e.id_event}) }}">
            <div class="comment-wrap">
                <div class="photo">
                    <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
                </div>
                <div class="comment-block">
                    <textarea placeholder="add comment" name="comment"></textarea>
                    <div class="bottom-comment">

                        <ul class="comment-actions">
                            <input type="submit" value="add" class="btn btn-primary" >

                        </ul>
                    </div>
                </div>
            </div></form>
        {% endif %}
        {% for c in comment %}

            <div class="comment-wrap">
                 <div class="photo">
                    <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div><div style="margin-left:5px;margin-top:10px;margin-right:10px" >{{ c.user.username}}</div>
                </div>
                <div class="comment-block">
                    <p class="comment-text">{{ c.content }}</p>
                    <div class="bottom-comment">
                        <div class="comment-date">{{ c.dateofcomment|date('y-m-d') }}</div>
                        <ul class="comment-actions">



            {% if app.user and c.user == app.user %}<a href="{{ path('comment_comment_delete',{'id':c.id_comment}) }}"><li class="reply">Delete</li></a>{% endif %}
                            <form  method="post" action="{{ path('comment_comment_update',{'id':c.id_comment}) }}" >
                                {% if app.user and c.user == app.user %}<li id="text" class="reply">Update</li>
                                    <input type="text" style="background: #f2f2f2" id="areatext" name="comment"> {% endif %}
</form>
                            {% if app.user and c.user != app.user %} <a href="{{ path('comment_report',{'id':c.id_comment}) }}"> <li class="complain" >Report</li></a>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
    </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#text").click(function(){
                $("#areatext").toggle();
            });
        });
    </script>


{% endblock %}
